* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

form > * {
    margin: 5px 0;
}

.resultsImg {
    width : 100%;
}

.hidden {
    display: none;
}